{% extends 'base.html.twig' %}

{% block body %}
    <h1>welcome to the category {{ category.name }} page</h1>
    <div>
        <p>
            {{ category.description }}
        </p>
    </div>
    <div>
        {% for product in products %}
            <div><a href="{{ product.slug }}.html">{{ product.name }}</a></div>
            <div>{{ product.short_description }}</div>
            <div>{{ product.price }}</div>
        {% endfor %}
    </div>
{% endblock %}

